<!DOCTYPE html>
<html lang="en">
<head>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type"/>
    <title>Spring OAuth Client Thymeleaf</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet"/>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light shadow-sm p-3 mb-5">
    <a class="navbar-brand" th:href="@{/projects/}">Spring OAuth Client Thymeleaf</a>
</nav>

<div class="container">
    <label>Welcome ! </label> <br/> <a class="btn btn-primary" th:href="@{/projects/}">Login</a>
</div>
</body>
</html>