<!DOCTYPE html>
<html lang="en">
<head>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type"/>
    <title>Spring OAuth Client Thymeleaf</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet"/>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light shadow-sm p-3 mb-5">
    <a class="navbar-brand" th:href="@{/projects/}">Spring OAuth Client Thymeleaf</a>
    <ul class="navbar-nav ml-auto">
        <li class="navbar-text">Hi, <span sec:authentication="name">username</span>&nbsp;&nbsp;&nbsp;
        </li>
        <li class="nav-item"><a class="btn btn-outline-secondary" href="/lsso-client/logout">Logout</a></li>
    </ul>
</nav>

<div class="container">
    <h1>Tasks : View all</h1>
    <a class="btn btn-primary float-right" th:href="@{/projects}">Back to Projects</a> <br/> <br/>
    <table class="table table-bordered table-striped">
        <thead>
        <tr>
            <td>ID</td>
            <td>Name</td>
            <td>Description</td>
            <td>Creation Date</td>
            <td>Due Date</td>
        </tr>
        </thead>
        <tbody>
        <tr th:if="${tasks.empty}">
            <td colspan="5">No tasks</td>
        </tr>
        <tr th:each="task : ${tasks}">
            <td><span th:text="${task.id}"> ID </span></td>
            <td><span th:text="${task.name}"> Name </span></td>
            <td><span th:text="${task.description}"> Description </span></td>
            <td><span th:text="*{task.dateCreated}"> Creation Date </span></td>
            <td><span th:text="*{task.dueDate}"> Due Date </span></td>
        </tr>
        </tbody>
    </table>
</div>

</body>
</html>