<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Layout</title>

    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/2.3.2/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>

</head>
<body>
<div class="container">
    <div class="navbar">
        <div class="navbar-inner">
            <a class="brand" href="/"> Home </a>
            <ul class="nav">
                <li><a href="users.html" th:href="@{/user/}"> Users </a></li>
            </ul>
            <ul class="nav pull-right">
                <li><a class="menu-right" th:href="@{/logout}"> Logout </a></li>
            </ul>
        </div>
    </div>
    <h1 layout:fragment="header">Layout</h1>
    <div layout:fragment="content">Some content</div>
</div>
</body>
</html>
